body {
  margin: 0 auto;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; }

#day-wrapper {
  margin: 20px auto;
  overflow: hidden;
  width: 695px;
  padding: 10px 0; }

.times {
  float: left;
  width: 65px;
  height: 730px;
  list-style-type: none;
  margin: -18px 10px 0 0;
  padding: 0;
  text-align: right;
  color: #a7a7a7;
  font-size: 10pt;
  position: relative; }

.times > li {
  height: 30px;
  line-height: 30px; }

.times > li:nth-child(even) {
  font-size: 7pt; }

.times > li:nth-child(odd) {
  color: #686868;
  font-weight: bold; }

.times > li:nth-child(odd) > small {
  margin-left: 5px;
  font-size: 8pt;
  color: #a7a7a7;
  font-weight: normal; }

.events-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.4;
  float: right;
  position: relative;
  padding: 0 10px;
  border-left: 1px solid #d6d6d6;
  width: 620px;
  height: 720px;
  background: #ececec; }

.event {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
  margin-left: 10px; }

.event > dl {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  background: #fff;
  margin: 0;
  height: 100%;
  padding: 5px 15px;
  overflow: auto; }

.event:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 5px;
  background: #4b6ea9; }

.event > dl > dt {
  cursor: pointer;
  margin: 1px 0 0 0;
  padding: 0;
  color: #4c6fa9;
  font-weight: bold;
  font-size: 12px; }

.event > dl > dd {
  margin: 0;
  padding: 0;
  color: #797979;
  font-size: 10px; }
