{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "comma-dangle": [2, "never"],
    "jsx-quotes": [2, "prefer-double"],
    "react/prefer-stateless-function": 0
  }
}
